header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
   

}
.link-containter{
    display: flex;
    gap:15px;
    
}
a:link {
    text-decoration: none;
    color:#f9faf8;
    font-size: 24px;
}

.logo {
    max-width: 75px;
}
.section_1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}
.placeholder{
    background-color: grey;
}
h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}